<a href="https://colab.research.google.com/github/cheshtadhingra/Data-analysis/blob/master/Basic_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Basic Data Analysis



### 1) Import Pandas

In [ ]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called users and use the 'user_id' as index

#### Import the dataset from this url (https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [ ]:

users_id = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')

### 3) Display the first 25 entries

In [ ]:
users_id.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### 4) Display the last 10 entries

In [ ]:
users_id.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### 5) What is the number of observations in the dataset?

In [ ]:
np.product(users_id.shape)

4715

### 6) What is the number of columns in the dataset, also print the name of all the columns?

In [ ]:
print('number of columns', users_id.shape[1])
print('name of columns', users_id.columns)

number of columns 5
name of columns Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

### 7) What is the data type of each column?

In [ ]:
users_id.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### 8) Print only the occupation column

In [ ]:
users_id.occupation

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### 9) How many different occupations are in this dataset?

In [ ]:
users_id.occupation.unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)

### 10) What is the most frequent occupation?

In [ ]:
users_id.occupation.value_counts().head(1)

student    196
Name: occupation, dtype: int64

### 11) Summarize the DataFrame.

In [ ]:
users_id.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

### 12) Summarize only the occupation column

In [ ]:
users_id.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### 13) What is the mean age of users?

In [ ]:
users_id.age.mean()

34.05196182396607

### 14) What is the age with least occurrence?

In [ ]:
users_id.age.value_counts().tail(1)

7    1
Name: age, dtype: int64