<a href="https://colab.research.google.com/github/cheshtadhingra/Data-analysis/blob/main/Basic_Data_Analysis_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summer Analytics 2021 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [ ]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv '
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [ ]:
Chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '	')

### 3) See the first 10 entries

In [ ]:
Chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### 4) What is the number of observations in the dataset?

In [ ]:
Chipo.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [ ]:
Chipo.shape[1]

5

### 6) Print the name of all the columns.

In [ ]:
Chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [ ]:
c = Chipo.groupby('item_name').quantity.sum() #grouped the values by item name and added the quanity of orders to arrange them in ascending order to print the most ordered
c.sort_values(ascending=True).tail(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### 8) For the most-ordered item, how many items were ordered?

In [ ]:
c = Chipo.groupby('item_name').quantity.sum() #grouped the values by item name and added the quanity of orders to arrange them in ascending order to print the most ordered
c.sort_values(ascending=True).tail(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### 9) What was the most ordered item in the choice_description column?

In [ ]:
c = Chipo.groupby('choice_description').quantity.sum()
c.sort_values(ascending=True).tail(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### 10) How many items were ordered in total?

In [ ]:
np.sum(Chipo['quantity'])

4972

### 11) Turn the item price into a float

In [ ]:
def floater(x):
  x = x[1:]
  return float(x)

In [ ]:
Chipo.item_price = Chipo['item_price'].apply(floater)

In [ ]:
Chipo.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [ ]:
Revenue = np.sum(Chipo.quantity * Chipo.item_price)
Revenue

39237.02

### 13) How many orders were made in the period?

In [ ]:
orders = Chipo.order_id.value_counts().count()
orders

1834

### 14) What is the average revenue amount per order?

In [ ]:
Revenue/orders

21.39423118865867

### 15) How many different items are sold?

In [ ]:
Chipo.item_name.nunique()

50